body
{
	background-image:url(back_body.png);
	background-attachment:fixed;
	width:100px;
	height:100px;
}
a
{
	color:white;	
}
#div_top
{
	margin: 0px 0px 0px 4px;	font-family:Elephant;
	text-align:center;	font-size:25px;
	background-color:black;	color:white;
	opacity:0.8;   
	border-radius:6px;	border: solid 1px white;
    height: 120px;	width: 1500px;
}
#div_left
{
	margin: 4px 0px 0px 4px;	font-family:Elephant;
	text-align:left;	font-size:30px;
	background-color:black;	color:white;
	opacity:0.8;
	border-radius:6px;	border: solid 1px white;
    height: 2000px;	width: 250px;
}
#div_center
{
	margin: -2001px 0px 0px 355px;	font-family:Elephant;
	text-align:center;	font-size:26px;
	background-color:black;	color:white;
	opacity:0.8;  
	border-radius:6px;	border: solid 1px white;
    height: 2000px;	width: 800px;	
}
#div_right
{
	margin: -2002px 0px 0px 1254px;	font-family:Elephant;
	text-align:center;	font-size:24px;
	background-color:black;	color:white;
	opacity:0.8;
	border-radius:6px;	border: solid 1px white;
    height: 2000px;	width: 250px;
}
#div_down
{
	margin: 4px 0px 0px 4px;	font-family:Elephant;
	text-align:center;	font-size:18px;
	background-color:black;	color:white;
	opacity:0.8;
	border-radius:6px;	border: solid 1px white;
    height: 300px;	width: 1500px;
}
#div_top:hover
{
	opacity:1;
}
#div_left:hover
{
	opacity:1;
}
#div_center:hover
{
	opacity:1;
}
#div_right:hover
{
	opacity:1;
}
#div_down:hover
{
	opacity:1;
}
.pic_out
{
	font-family:Elephant;
	text-align:center;	font-size:22px;
	background-color:#3A3A3A;	color:white;
	opacity:1;   
	border-radius:6px;	border: solid 1px white;
    height: 420px;	width: 200px;
	box-shadow:2px 2px 10px grey;
}
.pic_in
{
	margin: 5px 0px 0px 6px;	font-family:Elephant;
	text-align:center;	font-size:18px;
	background-color:grey;	color:white;
	opacity:1;   
	border-radius:6px;	border: solid 1px white;
    height: 380px;	width: 186px;
}
.pic_1
{
	margin: 40px 0px 0px 50px;	
}
.pic_2
{
	margin: -422px 0px 0px 300px;
}
.pic_3
{
	margin: -422px 0px 0px 550px;
}
.pic_out:hover
{
	transform: scale(1.2);
}